<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Exam Talk">
    <meta name="author" content="Dellan Muchengapadare">

    <title>Exam Talk</title>
<link rel="shortcut icon" type="x-icon" class="fa fa-mortar-board">
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'icons/font-awesome.min.css' %}" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">


<style>

.helptext{
  visibility: hidden;
}

</style>
  </head>

  <body>

{% block form %}{% endblock   %}




    <footer class=" text-light" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 mt-4">
                    <h5 class="logo">ExamTalk</h5>
                    <small>get a pass</small> <br>  
                    <a href="mailto:me@examtalk.com?subject=feedback">email me</a>
                </div>
                <div class="col-sm-6 mt-4 col-md-3">
                    <h6 id="">NAVIGATION</h6>
                    <ul class="list-unstyled">

                        <li class="list-item"><a href="#">About</a></li>
                        <li class="list-item"><a href="#">Resources</a></li>
                        <li class="list-item"><a href="#">Become a tutor</a></li>

                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 mt-4">
                    <h6>PRIVACY POLICY</h6>
                    <ul class="list-unstyled">
                        <li class="list-item">All Righs Reserved</li>
                        <li class="list-item">examtalk.com</li>
                        <li class="list-item">&copy;2018</li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-3 mt-4">
                    <h6>FOLLOW US</h6>
                    <ul class="list-unstyled">
                        <li class="list-item"><a href="#"><i class="fa fa-twitter fa-2x"></i> twitter </a></li>
                        <li class="list-item"><a href="#"><i class="fa fa-facebook fa-2x"></i> facebook </a></li>
                        <li class="list-item"><a href="#"><i class="fa fa-instagram fa-2x"></i> instagram </a></li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>






    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
<script src="{% static 'js/main.js' %}"></script>
  </body>

</html>
