<div class="row  mr-auto ml-auto" id="course-list">
        {% for tutorial in object_list %}
        <div class="col-md-3 col-sm-6 ">

            <div id="{{tutorial.pk}}" class="card mb-4" style="width:100%;">
                <img class="card-img-top img-card" src="{{ tutorial.cover_image.url }}" alt="{{tutorial.description}}">
                <div class="card-body">
             
                    <p class="card-text">{{tutorial.description}}</p>
                </div>
                <ul class="list-group list-group-flush">

                
                    <li class="list-group-item"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i>&nbsp;&nbsp; <h5 id="">${{ tutorial.prize}}</h5></li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'tutorials:course_detail' slug=tutorial.slug %}" class=" add-to-cart card-link btn btn-primary btn-block add-to-cart"><strong>enroll</strong></a>
                
                </div>
            </div>
        </div>
        
        {% endfor %}
      </div>  
       